/*
Theme Name: Cultural and Creative Spaces and Cities
Theme URI: http://www.creativespacesandcities.com/
Version: 1.0
Description: A Beaver Builder Theme child theme tailored for the CCSC website.
Author: Nils Lockean
Author URI: https://nilslockean.se
template: bb-theme
*/

/* Add your custom styles here... */ 